In [70]:
import pandas as pd
import datetime as dt
import numpy as np

## Loading Data

In [76]:
df1 = pd.read_csv(r"C:\Users\mohap\OneDrive\Desktop\IIMN\TERM-IV\BDMDM\Assignment 1\online_retail_II_2009_10.csv", encoding='unicode_escape')
df2 = pd.read_csv(r"C:\Users\mohap\OneDrive\Desktop\IIMN\TERM-IV\BDMDM\Assignment 1\online_retail_II_2010_11.csv", encoding='unicode_escape')

## Concatinanting both datframes in Row-wise mode

In [77]:
df=pd.concat([df2,df1],axis=0)
df.shape

(1067371, 8)

## Resetting Index

In [78]:
df.reset_index(drop=True,inplace=True)
df["Invoice"][0]

'536365'

In [79]:
df.columns

Index(['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer ID', 'Country'],
      dtype='object')

In [19]:
import sweetviz as sv
report=sv.analyze(df[['Quantity', 'InvoiceDate','Price', 'Customer ID', 'Country']])
report.show_html()

                                             |                                             | [  0%]   00:00 ->…

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

## Removing records with Negative values of price, Quantity
## Further, removing records with missing values of Invoice, InvoiceDate, Description

In [80]:
df=df.loc[df["Quantity"]>0,]
df=df.loc[df["Price"]>0,]
df.dropna(subset=['InvoiceDate', 'Invoice',"Description"],inplace=True)

df.shape

(1041671, 8)

In [81]:
df.describe(include="all")

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
count,1041671,1041671,1041671,1.041671e+06,1041671,1.041671e+06,805549.000000,1041671
unique,40078,4917,5399,NaN,37213,NaN,NaN,43
top,537434,85123A,WHITE HANGING HEART T-LIGHT HOLDER,NaN,06-12-2010 16:57,NaN,NaN,United Kingdom
freq,1350,5686,5778,NaN,1350,NaN,NaN,958502
mean,NaN,NaN,NaN,1.096345e+01,NaN,4.077038e+00,15331.954970,NaN
std,NaN,NaN,NaN,1.265149e+02,NaN,5.144898e+01,1696.737039,NaN
min,NaN,NaN,NaN,1.000000e+00,NaN,1.000000e-03,12346.000000,NaN
25%,NaN,NaN,NaN,1.000000e+00,NaN,1.250000e+00,13982.000000,NaN
50%,NaN,NaN,NaN,3.000000e+00,NaN,2.100000e+00,15271.000000,NaN
75%,NaN,NaN,NaN,1.000000e+01,NaN,4.130000e+00,16805.000000,NaN
max,NaN,NaN,NaN,8.099500e+04,NaN,2.511109e+04,18287.000000,NaN

In [82]:
df.dtypes

Invoice         object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
Price          float64
Customer ID    float64
Country         object
dtype: object

In [83]:
from datetime import datetime, date

In [84]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], dayfirst=True)
df["Customer ID"]=df["Customer ID"].astype('str')

##Adding two new columns by extracting year and month from date

df["Year"]=[x.year for x in df["InvoiceDate"]]
df["Month"]=[x.month for x in df["InvoiceDate"]]

### Adding new column with revenue value

df["Revenue"]=df["Quantity"]*df["Price"]

In [85]:
df.dtypes

Invoice                object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
Price                 float64
Customer ID            object
Country                object
Year                    int64
Month                   int64
Revenue               float64
dtype: object

In [86]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Year,Month,Revenue
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,2010,12,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010,12,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,2010,12,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010,12,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010,12,20.34

## Compute number of unique months for each product during which it is sold

In [87]:
report=df.groupby(["Description","Year"]).agg(
{
    'Month':"nunique"
}
)

In [88]:
report.reset_index()

                               Description  Year  Month
0        DOORMAT UNION JACK GUNS AND ROSES  2010      3
1                 3 STRIPEY MICE FELTCRAFT  2009      1
2                 3 STRIPEY MICE FELTCRAFT  2010      7
3            4 PURPLE FLOCK DINNER CANDLES  2010      5
4            4 PURPLE FLOCK DINNER CANDLES  2011     11
...                                    ...   ...    ...
11336     ZINC WILLIE WINKIE  CANDLE STICK  2009      1
11337     ZINC WILLIE WINKIE  CANDLE STICK  2010     12
11338     ZINC WILLIE WINKIE  CANDLE STICK  2011     12
11339          ZINC WIRE KITCHEN ORGANISER  2011      5
11340     ZINC WIRE SWEETHEART LETTER TRAY  2011      9

[11341 rows x 3 columns]

## Sum function on month to get number of months during which product had non zero sale during both the years

In [89]:
counts_report=report.groupby(["Description"]).agg({
    "Month":sum
})

In [90]:
counts_report=counts_report.reset_index()

## Select only those products that had non-zero sale for atleast 24 months during both years. generate a list of such Product descriptons that qualify this criterion

In [91]:
counts_report=counts_report.loc[counts_report["Month"]>=24,]
counts_report

                            Description  Month
45            12 EGG HOUSE PAINTED WOOD     25
54          12 PENCILS SMALL TUBE SKULL     25
58          12 PENCILS TALL TUBE SKULLS     25
59        12 PENCILS TALL TUBE WOODLAND     25
62       12 RED ROSE PEG PLACE SETTINGS     25
...                                 ...    ...
5325             WRAP PINK FAIRY CAKES      25
5367    YOU'RE CONFUSING ME METAL SIGN      24
5382  ZINC HEART LATTICE T-LIGHT HOLDER     25
5386        ZINC METAL HEART DECORATION     25
5396   ZINC WILLIE WINKIE  CANDLE STICK     25

[740 rows x 2 columns]

In [92]:
products=list(counts_report["Description"])
products

['12 EGG HOUSE PAINTED WOOD',
 '12 PENCILS SMALL TUBE SKULL',
 '12 PENCILS TALL TUBE SKULLS',
 '12 PENCILS TALL TUBE WOODLAND',
 '12 RED ROSE PEG PLACE SETTINGS',
 '200 BENDY SKULL STRAWS',
 '200 RED + WHITE BENDY STRAWS',
 '3 HOOK PHOTO SHELF ANTIQUE WHITE',
 '36 PENCILS TUBE SKULLS',
 '36 PENCILS TUBE WOODLAND',
 '3D DOG PICTURE PLAYING CARDS',
 '3D SHEET OF CAT STICKERS',
 '3D SHEET OF DOG STICKERS',
 '4 IVORY DINNER CANDLES SILVER FLOCK',
 '4 LAVENDER BOTANICAL DINNER CANDLES',
 '4 PEAR BOTANICAL DINNER CANDLES',
 '4 VANILLA BOTANICAL CANDLES',
 '6 CHOCOLATE LOVE HEART T-LIGHTS',
 '6 EGG HOUSE PAINTED WOOD',
 '6 RIBBONS ELEGANT CHRISTMAS ',
 '6 RIBBONS EMPIRE  ',
 '6 RIBBONS RUSTIC CHARM',
 '6 RIBBONS SHIMMERING PINKS ',
 '60 TEATIME FAIRY CAKE CASES',
 '72 SWEETHEART FAIRY CAKE CASES',
 '75 GREEN FAIRY CAKE CASES',
 '75 GREEN PETIT FOUR CASES',
 'ABSTRACT CIRCLE JOURNAL ',
 'ABSTRACT CIRCLES POCKET BOOK',
 'ABSTRACT CIRCLES SKETCHBOOK ',
 'AGED GLASS SILVER T-LIGHT HOLDER',
 'AIRLINE LOUNGE,METAL SIGN',
 'ALPHABET HEARTS STICKER SHEET',
 'ANT WHITE WIRE HEART SPIRAL',
 'ANTIQUE ALL GLASS CANDLESTICK',
 'ANTIQUE SILVER TEA GLASS ENGRAVED',
 'APPLE BATH SPONGE',
 'AREA PATROLLED METAL SIGN',
 'ART LIGHTS,FUNK MONKEY',
 'ASSORTED COLOUR BIRD ORNAMENT',
 'ASSORTED COLOUR MINI CASES',
 'ASSORTED COLOUR T-LIGHT HOLDER',
 'ASSORTED COLOURS SILK FAN',
 'ASSORTED CREEPY CRAWLIES',
 'ASSORTED FLOWER COLOUR "LEIS"',
 'ASSORTED TUTTI FRUTTI  FOB NOTEBOOK',
 'ASSORTED TUTTI FRUTTI MIRROR',
 'ASSORTED TUTTI FRUTTI SMALL PURSE',
 'ASSTD DESIGN RACING CAR PEN',
 'BAG 125g SWIRLY MARBLES',
 'BAG 250g SWIRLY MARBLES',
 'BAKING SET 9 PIECE RETROSPOT ',
 'BALLOONS  WRITING SET ',
 'BANQUET BIRTHDAY  CARD  ',
 'BASKET OF FLOWERS SEWING KIT',
 'BASKET OF TOADSTOOLS',
 'BATHROOM METAL SIGN',
 'BEADED CRYSTAL HEART PINK LARGE',
 'BEADED CRYSTAL HEART PINK SMALL',
 'BEWARE OF THE CAT METAL SIGN ',
 'BIG DOUGHNUT FRIDGE MAGNETS',
 'BINGO SET',
 'BIRD HOUSE HOT WATER BOTTLE',
 'BIRDCAGE DECORATION TEALIGHT HOLDER',
 'BIRDHOUSE DECORATION MAGIC GARDEN',
 'BIRDS MOBILE VINTAGE DESIGN',
 'BIRTHDAY BANQUET GIFT WRAP',
 'BLACK ENAMEL FLOWER RING',
 'BLACK HEART CARD HOLDER',
 'BLACK MINI TAPE MEASURE ',
 'BLACK PIRATE TREASURE CHEST',
 'BLACK RECORD COVER FRAME',
 'BLACK SWEETHEART BRACELET',
 'BLACK TEA,COFFEE,SUGAR JARS',
 'BLUE BIRDHOUSE DECORATION',
 'BLUE CALCULATOR RULER',
 'BLUE CHARLIE+LOLA PERSONAL DOORSIGN',
 'BLUE EGG  SPOON',
 'BLUE FLY SWAT',
 'BLUE HAPPY BIRTHDAY BUNTING',
 'BLUE HARMONICA IN BOX ',
 'BLUE JUICY FRUIT PHOTO FRAME',
 'BLUE PAISLEY JOURNAL ',
 'BLUE PAISLEY SKETCHBOOK',
 'BLUE PARTY BAGS ',
 'BLUE POLKADOT KIDS BAG',
 'BLUE POT PLANT CANDLE ',
 'BLUE PUDDING SPOON',
 'BLUE ROSE FABRIC MIRROR',
 'BLUE SCANDINAVIAN PAISLEY WRAP',
 'BLUE SCOTTIE DOG W FLOWER PATTERN',
 'BLUE SPOT CERAMIC DRAWER KNOB',
 'BLUE VICTORIAN FABRIC OVAL BOX',
 'BOOM BOX SPEAKER BOYS',
 'BOOZE & WOMEN GREETING CARD ',
 'BOTANICAL LAVENDER BIRTHDAY CARD',
 'BOTTLE BAG RETROSPOT ',
 'BOUDOIR SQUARE TISSUE BOX',
 'BOX OF 24 COCKTAIL PARASOLS',
 'BOX OF 9 PEBBLE CANDLES',
 'BOYS ALPHABET IRON ON PATCHES',
 'BOYS VINTAGE TIN SEASIDE BUCKET',
 'BROCADE RING PURSE ',
 'BROWN  PIRATE TREASURE CHEST ',
 'BROWN CHECK CAT DOORSTOP ',
 'BUNNY WOODEN PAINTED WITH BIRD ',
 'BUTTERFLIES STICKERS',
 'CACTI T-LIGHT CANDLES',
 'CAKE PLATE LOVEBIRD PINK',
 'CAKE PLATE LOVEBIRD WHITE',
 'CAKE STAND 3 TIER MAGIC GARDEN',
 'CAKE STAND LOVEBIRD 2 TIER PINK',
 'CAKE STAND LOVEBIRD 2 TIER WHITE',
 'CAKE STAND VICTORIAN FILIGREE SMALL',
 'CAKE STAND WHITE TWO TIER LACE',
 'CAKES AND BOWS GIFT  TAPE',
 'CAKES AND RABBITS DESIGN FLANNEL ',
 'CAMOUFLAGE LED TORCH',
 'CANDLE PLATE LACE WHITE',
 'CANDY HEART HANGING DECORATION',
 'CARAVAN SQUARE TISSUE BOX',
 'CARRIAGE',
 'CARROT CHARLIE+LOLA COASTER SET',
 'CERAMIC BOWL WITH STRAWBERRY DESIGN',
 'CERAMIC CAKE BOWL + HANGING CAKES',
 'CERAMIC CAKE DESIGN SPOTTED MUG',
 'CERAMIC CAKE DESIGN SPOTTED PLATE',
 'CERAMIC PLATE STRAWBERRY DESIGN',
 'CERAMIC STRAWBERRY TRINKET TRAY',
 'CHARLIE & LOLA WASTEPAPER BIN FLORA',
 'CHARLIE + LOLA RED HOT WATER BOTTLE',
 'CHARLIE+LOLA PINK HOT WATER BOTTLE',
 'CHARLIE+LOLA RED HOT WATER BOTTLE ',
 'CHERRY BLOSSOM PASSPORT COVER',
 'CHERRY CROCHET FOOD COVER',
 'CHICK GREY HOT WATER BOTTLE',
 'CHILLI LIGHTS',
 'CHOC TRUFFLE GOLD TRINKET POT ',
 'CHOCOLATE BOX RIBBONS ',
 'CHOCOLATE CALCULATOR',
 'CHOCOLATE HOT WATER BOTTLE',
 'CHOCOLATE THIS WAY METAL SIGN',
 'CHRYSANTHEMUM NOTEBOOK',
 'CHRYSANTHEMUM SKETCHBOOK ',
 'CINAMMON SET OF 9 T-LIGHTS',
 'CITRONELLA CANDLE FLOWERPOT',
 'CITRONELLA CANDLE GARDEN POT',
 'CLAM SHELL SMALL ',
 'COCKLE SHELL DISH',
 'COFFEE MUG APPLES DESIGN',
 'COFFEE MUG BLUE PAISLEY DESIGN',
 'COFFEE MUG CAT + BIRD DESIGN',
 'COFFEE MUG DOG + BALL DESIGN',
 'COFFEE MUG PEARS  DESIGN',
 'COFFEE MUG PINK PAISLEY DESIGN',
 'COFFEE SCENT PILLAR CANDLE',
 'COLOUR GLASS T-LIGHT HOLDER HANGING',
 'COLOURING PENCILS BROWN TUBE',
 'COLUMBIAN CANDLE ROUND',
 'COOK WITH WINE METAL SIGN ',
 'COSMETIC BAG VINTAGE ROSE PAISLEY',
 'COSY HOUR CIGAR BOX MATCHES ',
 'COWBOYS AND INDIANS BIRTHDAY CARD ',
 'CRAZY DAISY HEART DECORATION',
 'CREAM CUPID HEARTS COAT HANGER',
 'CREAM HEART CARD HOLDER',
 'CREAM SLICE FLANNEL CHOCOLATE SPOT ',
 'CREAM SLICE FLANNEL PINK SPOT ',
 'CREAM SWEETHEART MINI CHEST',
 'CUPID DESIGN SCENTED CANDLES',
 'CUTE CATS TAPE',
 'DAIRY MAID LARGE MILK JUG',
 'DAIRY MAID STRIPE MUG',
 'DAIRY MAID TRADITIONAL TEAPOT ',
 'DAISIES  HONEYCOMB GARLAND ',
 'DECORATION  BUTTERFLY  MAGIC GARDEN',
 'DECORATIVE CATS BATHROOM BOTTLE',
 'DECORATIVE FLORE BATHROOM BOTTLE',
 'DECORATIVE ROSE BATHROOM BOTTLE',
 'DIAMANTE HEART SHAPED WALL MIRROR, ',
 'DINOSAUR HEIGHT CHART STICKER SET',
 'DINOSAUR PARTY BAG + STICKER SET',
 'DINOSAURS  WRITING SET ',
 'DISCO BALL CHRISTMAS DECORATION',
 'DISCO BALL ROTATOR BATTERY OPERATED',
 "DOCTOR'S BAG SOFT TOY",
 'DOG TOY WITH PINK CROCHET SKIRT',
 "DOLLY MIXTURE CHILDREN'S UMBRELLA",
 'DOOR HANGER  MUM + DADS ROOM',
 'DOTCOM POSTAGE',
 'EAU DE NILE HEART SHAPE PHOTO FRAME',
 'ECONOMY LUGGAGE TAG',
 'EDWARDIAN PARASOL BLACK',
 'EDWARDIAN PARASOL NATURAL',
 'EDWARDIAN PARASOL PINK',
 'EDWARDIAN PARASOL RED',
 'EGG CUP NATURAL CHICKEN',
 'EIGHT PIECE SNAKE  SET',
 'EMERGENCY FIRST AID TIN ',
 'EMPIRE BIRTHDAY CARD',
 'EMPIRE GIFT WRAP',
 'EMPIRE TISSUE BOX',
 'ENCHANTED BIRD COATHANGER 5 HOOK',
 'ENGLISH ROSE GARDEN SECATEURS',
 'ENGLISH ROSE NOTEBOOK A7 SIZE',
 'ENGLISH ROSE SPIRIT LEVEL ',
 'ENVELOPE 50 BLOSSOM IMAGES',
 'FAIRY CAKE BIRTHDAY CANDLE SET',
 'FAIRY CAKE DESIGN UMBRELLA',
 'FAIRY CAKE FLANNEL ASSORTED COLOUR',
 'FAIRY CAKES NOTEBOOK A6 SIZE',
 'FAIRY CAKES NOTEBOOK A7 SIZE',
 'FAIRY DREAMS INCENSE ',
 'FAMILY ALBUM WHITE PICTURE FRAME',
 'FANCY FONT BIRTHDAY CARD, ',
 'FANCY FONTS BIRTHDAY WRAP',
 'FAWN BLUE HOT WATER BOTTLE',
 'FEATHER PEN,COAL BLACK',
 'FEATHER PEN,HOT PINK',
 'FEATHER PEN,LIGHT PINK',
 'FELT EGG COSY BLUE RABBIT ',
 'FELT EGG COSY CHICKEN',
 'FELT TOADSTOOL  SMALL',
 'FELT TOADSTOOL LARGE',
 'FELTCRAFT 6 FLOWER FRIENDS',
 'FELTCRAFT BUTTERFLY HEARTS',
 'FELTCRAFT DOLL EMILY',
 'FELTCRAFT DOLL MOLLY',
 'FELTCRAFT DOLL ROSIE',
 'FENG SHUI PILLAR CANDLE',
 'FILIGRIS HEART WITH BUTTERFLY',
 'FIRST AID TIN',
 'FIRST CLASS LUGGAGE TAG ',
 'FIVE CATS HANGING DECORATION',
 'FIVE HEART HANGING DECORATION',
 'FLOOR CUSHION ELEPHANT CARNIVAL',
 'FLORAL FOLK STATIONERY SET',
 'FLOWER VINE RAFFIA FOOD COVER',
 'FLOWERS  STICKERS',
 'FLYING PIG WATERING CAN',
 'FOLKART ZINC HEART CHRISTMAS DEC',
 'FOOD CONTAINER SET 3 LOVE HEART ',
 'FOUR HOOK  WHITE LOVEBIRDS',
 'FRENCH ENAMEL POT W LID',
 'FRENCH ENAMEL WATER BASIN',
 'FRYING PAN UNION FLAG',
 'FULL ENGLISH BREAKFAST PLATE',
 'FUNKY MONKEY GIFT BAG MEDIUM',
 'FUNKY WASHING UP GLOVES ASSORTED',
 'GAOLERS KEYS DECORATIVE GARDEN ',
 'GARDEN PATH JOURNAL',
 'GARDEN PATH SKETCHBOOK',
 'GARLAND WITH HEARTS AND BELLS',
 'GIN & TONIC DIET GREETING CARD ',
 'GIN + TONIC DIET METAL SIGN',
 'GIN AND TONIC MUG',
 'GINGHAM HEART  DOORSTOP RED',
 'GIRLS ALPHABET IRON ON PATCHES ',
 'GIRLS VINTAGE TIN SEASIDE BUCKET',
 'GLAMOROUS  MUG',
 'GLASS HEART T-LIGHT HOLDER ',
 'GLITTER BUTTERFLY CLIPS',
 'GLITTER HANGING BUTTERFLY STRING',
 'GOLD FISHING GNOME',
 'GOLD MINI TAPE MEASURE ',
 'GOLD PHOTO FRAME',
 'GRAND CHOCOLATECANDLE',
 'GREEN BIRDHOUSE DECORATION',
 'GREEN ENAMEL FLOWER RING',
 'GREEN FERN JOURNAL ',
 'GREEN FERN SKETCHBOOK ',
 'GREEN SWEETHEART BRACELET',
 'HAIRCLIPS FORTIES FABRIC ASSORTED',
 'HAND OVER THE CHOCOLATE   SIGN ',
 'HANGING FAIRY CAKE DECORATION',
 'HANGING HEART JAR T-LIGHT HOLDER',
 'HANGING HEART ZINC T-LIGHT HOLDER',
 'HANGING PHOTO CLIP ROPE LADDER',
 'HANGING WOOD AND FELT BUTTERFLY ',
 'HANGING WOOD AND FELT FLOWER',
 'HANGING WOOD AND FELT HEART',
 'HEART CALCULATOR',
 'HEART DECORATION PAINTED ZINC ',
 'HEART DECORATION RUSTIC HANGING ',
 'HEART DECORATION WITH PEARLS ',
 'HEART FILIGREE DOVE  SMALL',
 'HEART IVORY TRELLIS LARGE',
 'HEART IVORY TRELLIS SMALL',
 'HEART SHAPE WIRELESS DOORBELL',
 'HEART STRING MEMO HOLDER HANGING',
 'HEARTS  STICKERS',
 'HEARTS GIFT TAPE',
 'HEN HOUSE DECORATION',
 'HOME BUILDING BLOCK WORD',
 'HOME GARLAND PAINTED ZINC ',
 'HOME SWEET HOME METAL SIGN ',
 'HOME SWEET HOME MUG',
 'HOT BATHS METAL SIGN',
 'HOT BATHS SOAP HOLDER',
 'HYACINTH BULB T-LIGHT CANDLES',
 "I'M ON HOLIDAY METAL SIGN",
 "IF YOU CAN'T STAND THE HEAT MUG",
 'IVORY ENCHANTED FOREST PLACEMAT',
 'IVORY HANGING DECORATION  BIRD',
 'IVORY HANGING DECORATION  HEART',
 'IVORY LOVE BIRD CANDLE',
 'IVORY PILLAR CANDLE SILVER FLOCK',
 'JAZZ HEARTS ADDRESS BOOK',
 'JAZZ HEARTS PURSE NOTEBOOK',
 'JIGSAW RABBIT AND BIRDHOUSE',
 'JIGSAW TOADSTOOLS 3 PIECE',
 'JIGSAW TREE WITH BIRDHOUSE',
 'JIGSAW TREE WITH WATERING CAN',
 'JUMBO  BAG BAROQUE BLACK WHITE',
 'JUMBO BAG PINK VINTAGE PAISLEY',
 'JUMBO BAG SPACEBOY DESIGN',
 'JUMBO BAG STRAWBERRY',
 'JUMBO BAG TOYS ',
 'JUMBO BAG WOODLAND ANIMALS',
 'JUMBO SHOPPER VINTAGE RED PAISLEY',
 'JUMBO STORAGE BAG SKULLS',
 'JUMBO STORAGE BAG SUKI',
 'KEY FOB , BACK DOOR ',
 'KEY FOB , FRONT  DOOR ',
 'KEY FOB , SHED',
 'KIDS RAIN MAC BLUE',
 'KIDS RAIN MAC PINK',
 'KINGS CHOICE BISCUIT TIN',
 'KINGS CHOICE MUG',
 'KINGS CHOICE TEA CADDY ',
 'KITCHEN METAL SIGN',
 'KITTY PENCIL ERASERS',
 'KNITTED UNION FLAG HOT WATER BOTTLE',
 'LADS ONLY TISSUE BOX',
 'LARGE CAKE STAND  HANGING STRAWBERY',
 'LARGE CAMPHOR WOOD FIELD MUSHROOM ',
 'LARGE CHINESE STYLE SCISSOR',
 'LARGE HANGING IVORY & RED WOOD BIRD',
 'LARGE HEART MEASURING SPOONS',
 'LARGE MEDINA STAMPED METAL BOWL ',
 'LARGE ROUND WICKER PLATTER ',
 'LARGE STRIPES CHOCOLATE GIFT BAG',
 'LARGE WHITE HONEYCOMB PAPER BELL  ',
 'LAUNDRY 15C METAL SIGN',
 'LAVENDER SCENTED FABRIC HEART',
 'LETS GO SHOPPING COTTON TOTE BAG',
 'LETTER "D" BLING KEY RING',
 'LETTER "K" BLING KEY RING',
 'LILAC DIAMANTE PEN IN GIFT BOX',
 'LOCAL CAFE MUG',
 'LOLITA  DESIGN  COTTON TOTE BAG',
 'LOVE BUILDING BLOCK WORD',
 'LOVE GARLAND PAINTED ZINC ',
 'LOVE HEART SOCK HANGER',
 'LOVE HEART TRINKET POT',
 'LOVEBIRD HANGING DECORATION WHITE ',
 'LOVELY BONBON STICKER SHEET',
 'LUNCH BAG  BLACK SKULL.',
 'LUNCH BAG CARS BLUE',
 'LUNCH BAG WOODLAND',
 'MAGIC SHEEP WOOL GROWING FROM PAPER',
 'MAGIC TREE -PAPER FLOWERS',
 'MAN FLU METAL SIGN',
 'MEDIUM MEDINA STAMPED METAL BOWL ',
 'METAL SIGN CUPCAKE SINGLE HOOK',
 'METAL SIGN EMPIRE TEA',
 'METAL SIGN HER DINNER IS SERVED ',
 'METAL SIGN HIS DINNER IS SERVED',
 'METAL SIGN TAKE IT OR LEAVE IT ',
 'METAL SIGN,CUPCAKE SINGLE HOOK',
 'MILK PAN RED RETROSPOT',
 'MINI CAKE STAND  HANGING STRAWBERY',
 'MINI PAINTED GARDEN DECORATION ',
 'MINI WOODEN HAPPY BIRTHDAY GARLAND',
 'MIRROR MOSAIC CANDLE PLATE',
 'MIRROR MOSAIC HURRICANE LAMP ',
 'MIRROR MOSAIC VOTIVE HOLDER',
 'MIRRORED DISCO BALL ',
 'MOBILE VINTAGE HEARTS ',
 'MODERN FLORAL STATIONERY SET',
 'MOODY BOY  DOOR HANGER ',
 'MOODY GIRL DOOR HANGER ',
 'MORE BUTTER METAL SIGN ',
 'MOTORING TISSUE BOX',
 'MOUSE TOY WITH PINK T-SHIRT',
 'MULTI COLOUR SILVER T-LIGHT HOLDER',
 'MULTI HEARTS  STICKERS',
 'MULTICOLOUR 3D BALLS GARLAND',
 'MULTICOLOUR HONEYCOMB FAN',
 'MULTICOLOUR HONEYCOMB PAPER GARLAND',
 'MULTICOLOUR SPRING FLOWER MUG',
 'Manual',
 'NAMASTE SWAGAT INCENSE',
 'NINJA RABBIT BLACK',
 'NURSERY A,B,C PAINTED LETTERS',
 'OCEAN SCENT CANDLE IN JEWELLED BOX',
 'OFFICE MUG WARMER BLACK+SILVER ',
 'OFFICE MUG WARMER CHOC+BLUE',
 'OFFICE MUG WARMER PINK',
 'OFFICE MUG WARMER POLKADOT',
 'OLD ROSE COMBO BEAD NECKLACE',
 'OVERNIGHT BAG VINTAGE ROSE PAISLEY',
 'OWL DOORSTOP',
 'PACK 3 IRON ON DOG PATCHES',
 'PACK 6 HEART/ICE-CREAM PATCHES',
 'PACK OF 12 BLUE PAISLEY TISSUES ',
 'PACK OF 12 HEARTS DESIGN TISSUES ',
 'PACK OF 12 PINK PAISLEY TISSUES ',
 'PACK OF 12 SKULL TISSUES',
 'PACK OF 12 STICKY BUNNIES',
 'PACK OF 20 SKULL PAPER NAPKINS',
 'PACK OF 6 SKULL PAPER CUPS',
 'PACK OF 6 SKULL PAPER PLATES',
 'PACK OF 60 DINOSAUR CAKE CASES',
 'PACK OF 60 MUSHROOM CAKE CASES',
 'PACK OF 60 PINK PAISLEY CAKE CASES',
 'PACK OF 60 SPACEBOY CAKE CASES',
 'PACK OF 72 SKULL CAKE CASES',
 'PAINTED LIGHTBULB RAINBOW DESIGN',
 'PAINTED LIGHTBULB STAR+ MOON',
 'PAINTED METAL PEARS ASSORTED',
 'PAISLEY PATTERN  STICKERS',
 'PANDA AND BUNNIES STICKER SHEET',
 'PAPER BUNTING VINTAGE PAISLEY',
 "PAPER CHAIN KIT 50'S CHRISTMAS ",
 'PAPER CHAIN KIT SKULLS ',
 'PAPER POCKET TRAVELING FAN ',
 'PARTY BUNTING',
 'PARTY CONES CANDY ASSORTED',
 'PARTY INVITES BALLOON GIRL',
 'PARTY INVITES DINOSAURS',
 'PARTY INVITES FOOTBALL',
 'PARTY INVITES JAZZ HEARTS',
 'PARTY INVITES SPACEMAN',
 'PARTY INVITES WOODLAND',
 'PARTY METAL SIGN ',
 'PARTY TIME PENCIL ERASERS',
 'PASTEL COLOUR HONEYCOMB FAN',
 'PEARL CRYSTAL PUMPKIN T-LIGHT HLDR',
 'PENNY FARTHING BIRTHDAY CARD',
 'PHARMACIE FIRST AID TIN',
 'PHOTO CLIP LINE',
 'PICTURE FRAME WOOD TRIPLE PORTRAIT',
 'PIG KEYRING WITH LIGHT & SOUND ',
 'PING MICROWAVE APRON',
 'PINK  HEART CONFETTI IN TUBE',
 'PINK  HEART SHAPE LOVE BUCKET ',
 'PINK  HONEYCOMB PAPER FAN',
 'PINK BLUE FELT CRAFT TRINKET BOX',
 'PINK CREAM FELT CRAFT TRINKET BOX ',
 'PINK DIAMANTE PEN IN GIFT BOX',
 'PINK DOUGHNUT TRINKET POT ',
 'PINK FAIRY CAKE CUSHION COVER',
 'PINK FLORAL FELTCRAFT SHOULDER BAG',
 'PINK FLOWER CROCHET FOOD COVER',
 'PINK HAPPY BIRTHDAY BUNTING',
 'PINK HEART SHAPE EGG FRYING PAN',
 'PINK LOVE BIRD CANDLE',
 'PINK LOVE HEART SHAPE CUP',
 'PINK OWL SOFT TOY',
 'PINK PAISLEY ROSE GIFT WRAP',
 'PINK PAISLEY SQUARE TISSUE BOX ',
 'PINK PAPER PARASOL ',
 'PINK PARTY BAGS',
 'PINK SCOTTIE DOG W FLOWER PATTERN',
 'PINK SWEETHEART BRACELET',
 'PINK UNION JACK  LUGGAGE TAG',
 'PINK UNION JACK  PASSPORT COVER ',
 'PINK VINTAGE PAISLEY PICNIC BAG',
 'PIZZA PLATE IN BOX',
 'PLACE SETTING WHITE HEART',
 'POCKET BAG BLUE PAISLEY RED SPOT',
 'POCKET BAG PINK PAISELY BROWN SPOT',
 'POLKA DOT RAFFIA FOOD COVER',
 'POLYESTER FILLER PAD 40x40cm',
 'POLYESTER FILLER PAD 45x45cm',
 'POMPOM CURTAIN',
 'PORCELAIN ROSE SMALL',
 'PORCELAIN T-LIGHT HOLDERS ASSORTED',
 'POSTAGE',
 'POTTERING IN THE SHED METAL SIGN',
 'POTTERING MUG',
 'POTTING SHED SEED ENVELOPES',
 'POTTING SHED TEA MUG',
 'POTTING SHED TWINE',
 'PURPLE PAPER PARASOL',
 'QUEEN OF SKIES LUGGAGE TAG',
 'QUEEN OF THE SKIES PASSPORT COVER ',
 'RABBIT  DESIGN  COTTON TOTE BAG',
 'RAINY LADIES BIRTHDAY CARD',
 'RATTLE SNAKE EGGS',
 'RECORD FRAME 7" SINGLE SIZE ',
 'RECYCLED PENCIL WITH RABBIT ERASER',
 'RECYCLING BAG RETROSPOT ',
 'RED  EGG  SPOON',
 'RED CHARLIE+LOLA PERSONAL DOORSIGN',
 'RED ENCHANTED FOREST PLACEMAT',
 'RED FLORAL FELTCRAFT SHOULDER BAG',
 'RED FLOWER CROCHET FOOD COVER',
 'RED HANGING HEART T-LIGHT HOLDER',
 'RED HEART SHAPE LOVE BUCKET ',
 'RED LOVE HEART SHAPE CUP',
 'RED METAL BEACH SPADE ',
 'RED PAPER PARASOL',
 'RED SPOTTY BISCUIT TIN',
 'RED STRIPE CERAMIC DRAWER KNOB',
 'RED TOADSTOOL LED NIGHT LIGHT',
 'RED VICTORIAN FABRIC OVAL BOX',
 'RED WOOLLY HOTTIE WHITE HEART.',
 'RETRO LONGBOARD IRONING BOARD COVER',
 'RETRO MOD TRAY',
 "RETRO PLASTIC 70'S TRAY",
 'RETRO PLASTIC DAISY TRAY',
 'RETRO PLASTIC ELEPHANT TRAY',
 'RETRO PLASTIC POLKA TRAY',
 'REX CASH+CARRY JUMBO SHOPPER',
 'RIBBON REEL FLORA + FAUNA ',
 'RIBBON REEL HEARTS DESIGN ',
 'RIBBON REEL STRIPES DESIGN ',
 'RING OF ROSES BIRTHDAY CARD',
 'ROBOT BIRTHDAY CARD',
 'ROMANTIC PINKS RIBBONS ',
 'ROSE CARAVAN DOORSTOP',
 'ROSE DU SUD COSMETICS BAG',
 'ROSE DU SUD WASHBAG ',
 'ROSE FOLKART HEART DECORATIONS',
 'ROSE SCENT CANDLE IN JEWELLED BOX',
 'ROTATING LEAVES T-LIGHT HOLDER',
 'ROTATING SILVER ANGELS T-LIGHT HLDR',
 'ROUND CONTAINER SET OF 5 RETROSPOT',
 'ROUND SNACK BOXES SET OF 4 FRUITS ',
 'ROUND SNACK BOXES SET OF 4 SKULLS',
 'ROUND SNACK BOXES SET OF4 WOODLAND ',
 'S/4 CACTI CANDLES',
 'S/4 IVORY MINI ROSE CANDLE IN BOWL',
 'S/4 PINK FLOWER CANDLES IN BOWL',
 'S/6 WOODEN SKITTLES IN COTTON BAG',
 'SANDALWOOD FAN',
 'SAVE THE PLANET COTTON TOTE BAG',
 'SAVE THE PLANET MUG',
 'SCANDINAVIAN PAISLEY PICNIC BAG',
 'SCANDINAVIAN REDS RIBBONS',
 'SCOTTIE DOG HOT WATER BOTTLE',
 'SCOTTIES DESIGN WASHBAG',
 'SET 12 KIDS  WHITE CHALK STICKS',
 'SET 12 KIDS COLOUR  CHALK STICKS',
 'SET 12 RETRO WHITE CHALK STICKS',
 'SET 6 FOOTBALL CELEBRATION CANDLES',
 'SET OF 12  VINTAGE POSTCARD SET',
 'SET OF 2 ROUND TINS CAMEMBERT ',
 'SET OF 2 ROUND TINS DUTCH CHEESE',
 'SET OF 2 TEA TOWELS PING MICROWAVE',
 'SET OF 2 TINS JARDIN DE PROVENCE',
 'SET OF 2 TINS VINTAGE BATHROOM ',
 'SET OF 20 KIDS COOKIE CUTTERS',
 'SET OF 3 BIRD LIGHT PINK FEATHER ',
 'SET OF 3 BLACK FLYING DUCKS',
 'SET OF 3 BUTTERFLY COOKIE CUTTERS',
 'SET OF 3 HEART COOKIE CUTTERS',
 'SET OF 36 DINOSAUR PAPER DOILIES',
 'SET OF 36 PAISLEY FLOWER DOILIES',
 'SET OF 36 TEATIME PAPER DOILIES',
 'SET OF 4 ENGLISH ROSE COASTERS',
 'SET OF 6 CAKE CHOPSTICKS',
 'SET OF 6 FUNKY BEAKERS',
 'SET OF 6 GIRLS CELEBRATION CANDLES',
 'SET OF 6 HEART CHOPSTICKS',
 'SET OF 6 STRAWBERRY CHOPSTICKS',
 'SET OF 72 PINK HEART PAPER DOILIES',
 'SET OF 72 SKULL PAPER  DOILIES',
 'SET OF PICTURE FRAME  STICKERS',
 'SET/12 TAPER CANDLES',
 'SET/3 OCEAN SCENT CANDLE JEWEL BOX',
 'SET/3 ROSE CANDLE IN JEWELLED BOX',
 'SET/3 VANILLA SCENTED CANDLE IN BOX',
 'SET/4 BADGES BALLOON GIRL',
 'SET/4 BADGES BEETLES',
 'SET/4 BADGES CUTE CREATURES',
 'SET/4 BADGES DOGS',
 'SET/4 RED MINI ROSE CANDLE IN BOWL',
 'SET/4 SKULL BADGES',
 'SET/4 WHITE RETRO STORAGE CUBES ',
 'SET/6 COLLAGE PAPER CUPS',
 'SET/6 COLLAGE PAPER PLATES',
 'SET/6 EAU DE NIL BIRD T-LIGHTS',
 'SET/6 FROG PRINCE T-LIGHT CANDLES',
 'SET/6 PINK  BUTTERFLY T-LIGHTS',
 'SET/6 PINK BIRD T-LIGHT CANDLES',
 'SET/6 PURPLE BUTTERFLY T-LIGHTS',
 'SET/6 RED SPOTTY PAPER CUPS',
 'SET/6 RED SPOTTY PAPER PLATES',
 'SET/6 TURQUOISE BUTTERFLY T-LIGHTS',
 'SEWING SUSAN 21 NEEDLE SET',
 'SILVER HANGING T-LIGHT HOLDER',
 'SINGLE HEART ZINC T-LIGHT HOLDER',
 'SKULL AND CROSSBONES  GARLAND ',
 'SKULL SHOULDER BAG',
 'SKULLS  DESIGN  COTTON TOTE BAG',
 'SKULLS  STICKERS',
 'SKULLS  WATER TRANSFER TATTOOS ',
 'SKULLS DESIGN FLANNEL',
 'SKULLS GREETING CARD',
 'SKULLS PARTY BAG + STICKER SET',
 'SKULLS WRITING SET ',
 'SLATE TILE NATURAL HANGING',
 'SLEEPING CAT ERASERS',
 'SMALL CAMPHOR WOOD FIELD  MUSHROOM',
 'SMALL CHINESE STYLE SCISSOR',
 'SMALL CHOCOLATES PINK BOWL',
 'SMALL DOLLY MIX DESIGN ORANGE BOWL',
 'SMALL GLASS HEART TRINKET POT',
 'SMALL GLASS SUNDAE DISH CLEAR',
 'SMALL HAMMERED SILVER CANDLEPOT ',
 'SMALL HANGING IVORY/RED WOOD BIRD',
 'SMALL HEART FLOWERS HOOK ',
 'SMALL HEART MEASURING SPOONS',
 'SMALL MARSHMALLOWS PINK BOWL',
 'SMALL MEDINA STAMPED METAL BOWL ',
 'SMALL SILVER FLOWER CANDLE POT',
 'SMALL SILVER TRELLIS CANDLEPOT',
 'SMALL TALL CAMPHOR WOOD TOADSTOOL',
 'SNOWSTORM PHOTO FRAME FRIDGE MAGNET',
 'SOMBRERO ',
 'SPACEBOY BIRTHDAY CARD',
 'SPACEBOY GIFT WRAP',
 'SPOTTY PINK DUCK DOORSTOP',
 'SQUARE FLOOR CUSHION VINTAGE RED',
 'STAR DECORATION RUSTIC',
 'STARS GIFT TAPE ',
 'STRAWBERRIES  DESIGN FLANNEL ',
 'STRAWBERRY BATH SPONGE ',
 'STRAWBERRY CERAMIC TRINKET BOX',
 'STRAWBERRY CHARLOTTE BAG',
 'STRAWBERRY HONEYCOMB  GARLAND ',
 'STRAWBERRY RAFFIA FOOD COVER',

## Var function on group by using prod desc, year, month to get variance of only those products which appeard in the list generted in last step

In [93]:
Monthly_Sales=df.loc[df["Description"].isin(products),].groupby(["Description","Year","Month"]).agg(
{
    "Quantity":sum
})

In [94]:
Monthly_Sales=Monthly_Sales.reset_index()

In [95]:
Monthly_Sales=Monthly_Sales.groupby(["Description"]).agg({
    "Quantity":"var"
})

In [96]:
Monthly_Sales=Monthly_Sales.reset_index()
Monthly_Sales

                           Description       Quantity
0            12 EGG HOUSE PAINTED WOOD    1174.250000
1          12 PENCILS SMALL TUBE SKULL   92326.173333
2          12 PENCILS TALL TUBE SKULLS   23696.360000
3        12 PENCILS TALL TUBE WOODLAND   12375.543333
4       12 RED ROSE PEG PLACE SETTINGS    1239.493333
..                                 ...            ...
735             WRAP PINK FAIRY CAKES   129496.923333
736    YOU'RE CONFUSING ME METAL SIGN    65990.259058
737  ZINC HEART LATTICE T-LIGHT HOLDER    1520.223333
738        ZINC METAL HEART DECORATION  224021.456667
739   ZINC WILLIE WINKIE  CANDLE STICK   42456.010000

[740 rows x 2 columns]

## Sort the resulting dataframe in descending order and select top 5 products with the least variance and most stable sales

In [97]:
Monthly_Sales.sort_values(by=["Quantity"]).head(5)

                             Description   Quantity
400         OLD ROSE COMBO BEAD NECKLACE  13.346014
690                 VINTAGE SHELLS PRINT  18.282609
524                 ROSE DU SUD WASHBAG   21.456667
688  VINTAGE ROSE BEAD BRACELET RASPBERR  21.731884
626     SQUARE FLOOR CUSHION VINTAGE RED  27.152174

# Generating RFM Labels for Customers

In [98]:
RFM=df.groupby("Customer ID").agg({
    "Invoice":"nunique",
    "Revenue":"sum",
    "InvoiceDate": max
})

In [99]:
RFM=RFM.reset_index()
RFM

     Customer ID  Invoice     Revenue         InvoiceDate
0        12346.0       12    77556.46 2011-01-18 10:01:00
1        12347.0        8     5633.32 2011-12-07 15:52:00
2        12348.0        5     2019.40 2011-09-25 13:13:00
3        12349.0        4     4428.69 2011-11-21 09:51:00
4        12350.0        1      334.40 2011-02-02 16:01:00
...          ...      ...         ...                 ...
5874     18284.0        1      461.68 2010-10-04 11:33:00
5875     18285.0        1      427.00 2010-02-17 10:24:00
5876     18286.0        2     1296.43 2010-08-20 11:57:00
5877     18287.0        7     4182.99 2011-10-28 09:29:00
5878         nan     3109  3229538.96 2011-12-09 10:26:00

[5879 rows x 4 columns]

In [100]:
max_date=df["InvoiceDate"].max()
max_date

Timestamp('2011-12-09 12:50:00')

## Generating recency score for customers using difference between latest transaction date for customer and maximum date avaibale in dataset

In [101]:
RFM["Recency"]=[(max_date-date).days for date in RFM["InvoiceDate"]]
RFM

     Customer ID  Invoice     Revenue         InvoiceDate  Recency
0        12346.0       12    77556.46 2011-01-18 10:01:00      325
1        12347.0        8     5633.32 2011-12-07 15:52:00        1
2        12348.0        5     2019.40 2011-09-25 13:13:00       74
3        12349.0        4     4428.69 2011-11-21 09:51:00       18
4        12350.0        1      334.40 2011-02-02 16:01:00      309
...          ...      ...         ...                 ...      ...
5874     18284.0        1      461.68 2010-10-04 11:33:00      431
5875     18285.0        1      427.00 2010-02-17 10:24:00      660
5876     18286.0        2     1296.43 2010-08-20 11:57:00      476
5877     18287.0        7     4182.99 2011-10-28 09:29:00       42
5878         nan     3109  3229538.96 2011-12-09 10:26:00        0

[5879 rows x 5 columns]

In [102]:
RFM.columns

Index(['Customer ID', 'Invoice', 'Revenue', 'InvoiceDate', 'Recency'], dtype='object')

In [104]:
### Rearranging column sequence 
RFM=RFM[['Customer ID', 'Recency','Invoice', 'Revenue' ]]

### Renaming the columns as RFM
RFM.columns=["Customer ID",'Recency',"Frequency","Monetary"]

### Retainign only those values which are not nan 
RFM=RFM.loc[RFM["Customer ID"]!='nan',]

### Generating ranking of Recency score
RFM["Recency_Label"]=pd.qcut(RFM["Recency"],5,labels=[5,4,3,2,1])

### Generating ranking of frequency score
RFM["Frequency_Label"]=pd.qcut(RFM["Frequency"],q=[0, .30, 0.50,.70,0.90, 1.] ,labels=[1,2,3,4,5])

### generating ranking of Monetary Score
RFM["Monetary_Label"]=pd.qcut(RFM["Monetary"],5 ,labels=[1,2,3,4,5])

RFM

,Customer ID,Recency,Frequency,Monetary,Recency_Label,Frequency_Label,Monetary_Label
0,12346.0,325,12,77556.46,2,4,5
1,12347.0,1,8,5633.32,5,4,5
2,12348.0,74,5,2019.40,3,3,4
3,12349.0,18,4,4428.69,5,3,5
4,12350.0,309,1,334.40,2,1,2
...,...,...,...,...,...,...,...
5873,18283.0,3,22,2736.65,5,5,4
5874,18284.0,431,1,461.68,1,1,2
5875,18285.0,660,1,427.00,1,1,2
5876,18286.0,476,2,1296.43,1,1,4
5877,18287.0,42,7,4182.99,4,4,5

In [63]:
RFM.dtypes

Customer ID          object
Recency               int64
Frequency             int64
Monetary            float64
Recencey_Label     category
Frequency_Label    category
Monetary_Label     category
dtype: object

In [105]:
def assign_segment(row):
    if row['Recency_Label'] >= 4 and row['Frequency_Label'] >= 4 and row['Monetary_Label'] >= 4:
        return 'Champions'
    elif row['Recency_Label'] >= 3 and row['Frequency_Label'] >= 3:
        return 'Loyal Customers'
    elif row['Recency_Label'] >= 4 and row['Frequency_Label'] >= 3:
        return 'Potential Loyalists'
    elif row['Recency_Label'] >= 4:
        return 'New Customers'
    elif row['Recency_Label'] >= 3 and row['Frequency_Label'] >= 2 and row['Monetary_Label'] >= 2:
        return 'Promising'
    elif row['Recency_Label'] >= 2 and row['Frequency_Label'] < 3:
        return 'Needs Attention'
    elif row['Recency_Label'] < 2 and row['Frequency_Label'] >= 2:
        return 'About to Sleep'
    elif row['Recency_Label'] < 2 and row['Frequency_Label'] < 2:
        return 'At Risk'
    elif row['Recency_Label'] < 3 and row['Monetary_Label'] >= 3:
        return 'Can\'t Lose Them'
    elif row['Recency_Label'] < 3 and row['Frequency_Label'] < 3 and row['Monetary_Label'] < 3:
        return 'Hibernating'
    else:
        return 'Lost'

# Apply the segmentation function to each row
RFM['Segment'] = RFM.apply(assign_segment, axis=1)

# Display the updated DataFrame
RFM.head()

,Customer ID,Recency,Frequency,Monetary,Recency_Label,Frequency_Label,Monetary_Label,Segment
0,12346.0,325,12,77556.46,2,4,5,Can't Lose Them
1,12347.0,1,8,5633.32,5,4,5,Champions
2,12348.0,74,5,2019.40,3,3,4,Loyal Customers
3,12349.0,18,4,4428.69,5,3,5,Loyal Customers
4,12350.0,309,1,334.40,2,1,2,Needs Attention

In [108]:
from IPython.display import Image 
  
# get the image 
Image(url="segment.png")